body {
  font-family: helvetica;
}


header p{
  background-color: black;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin: 0 0 0 2px;
  padding: 15px;

}
header nav{
  text-align: center;
  margin: 3px;

}
header nav a{
  background-color: grey;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 3px;
}

main {
  width: 780px;
  margin:30px;
  display: block;
}
main p{
  background-color: rgb(34, 222, 171);
  height: 25px;

}
main p span {
  font-weight: bold;
  text-decoration: underline rgb(221, 201, 20);
}
article{
  width: 300;
  float: left;
  margin: 5px;
}
img {

}

.img-footer {
  background-color: yellow;
}

footer{
  background-color: black;
  color: white;
  text-align: center;
}
